
.Rproj.user/BB1CF723/sdb/s-8CBF6381/54111FAB

.Rhistory

*.pper

.Rproj.user/BB1CF723/sdb/per/t/54111FAB

.Rproj.user/BB1CF723/sdb/s-8CBF6381/lock_file

.Rproj.user/BB1CF723/sdb/s-8CBF6381/lock_file
